<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google-site-verification"
        content="7UY7VcXR28Tpmw6m6fc6wtJJQvar71GKqGojp3HPb4Q"/>
  <title>Morpheus</title>
  <link rel="stylesheet" href="https://software.broadinstitute.org/morpheus/css/morpheus-latest.min.css">
  <script>if (typeof module === 'object') {
    window.module = module;
    module = undefined;

  }</script>

  <script type="text/javascript" src="https://software.broadinstitute.org/morpheus/js/morpheus-external-latest.min.js"></script>
  <script src="https://software.broadinstitute.org/morpheus/js/morpheus-latest.min.js"></script>
  <link rel="shortcut icon" href="https://software.broadinstitute.org/morpheus/favicon.ico" type="image/x-icon">
  <script type="text/javascript"
          src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"
          data-app-key="6xq3zgeoago5fhw"></script>


  <script type="text/javascript">
        $(document).ready(function() { 
   new morpheus.HeatMap({el: $('#visdiv'), dataset: '/static/master_subset_probes.txt', 
    columnAnnotations: [{file:'/static/harmonized_coad_clinical.txt', datasetField:"id", fileField:"id"}],
    columns : [
    {field:"bcr_patient_barcode", display:["text"]}, 
    {field:"sample.type", display:["color"]},
    {field:"germlayer", display:["color"]},{field:"type", display:["color"]},
    {field:"age_at_initial_pathologic_diagnosis", display:["color"]}, {field:"gender", display:["color"]},{field:"race", display:["color"]},
    {field:"ajcc_pathologic_tumor_stage", display:["color"]}, {field:"clinical_stage", display:["color"]},{field:"histological_type", display:["color"]},
    {field:"histological_grade", display:["color"]}, {field:"initial_pathologic_dx_year", display:["color"]},{field:"menopause_status", display:["color"]},
    {field:"birth_days_to", display:["color"]}, {field:"vital_status", display:["color"]},{field:"tumor_status", display:["color"]},
    {field:"last_contact_days_to", display:["color"]}, {field:"death_days_to", display:["color"]},{field:"cause_of_death", display:["color"]},
    {field:"new_tumor_event_type", display:["color"]}, {field:"new_tumor_event_site", display:["color"]},{field:"new_tumor_event_site_other", display:["color"]},
    {field:"new_tumor_event_dx_days_to", display:["color"]}, {field:"treatment_outcome_first_course", display:["color"]},{field:"margin_status", display:["color"]},
    {field:"residual_tumor", display:["color"]}, {field:"OS", display:["color"]},{field:"OS.time", display:["color"]},
    {field:"DSS", display:["color"]}, {field:"DSS.time", display:["color"]},{field:"OS.DFI", display:["color"]},
    {field:"DFI.time", display:["color"]}, {field:"PFI", display:["color"]},{field:"PFI.time", display:["color"]}, {field:"Redaction", display:["color"]}]
 })
 })
</script>


</head>
<body>
<noscript>
  <p>Please enable JavaScript</p>
</noscript>
<div id="visdiv" style="margin-left:8px;"></div>

</body>


